In [36]:
import pandas as pd

# Đường dẫn đến file Excel
excel_file = 'MỸ-KHỞI-FORM-TONG-KET-CHAO-OHAYO-T1.xlsb'

# Đọc sheet cụ thể (trong trường hợp này là sheet có index là 0)
sheet_index = 1
# Đọc sheet từ file Excel
df = pd.read_excel(excel_file, sheet_name=sheet_index, header=2)
df['Mã đơn hàng'] = df['Mã đơn hàng'].astype(str)
df['Khuyến mãi / Trả thưởng'].fillna(0, inplace=True)
v = ['Mã đơn hàng', 'Mã sản phẩm', 'Khuyến mãi / Trả thưởng']
df = df[v]
df
# In ra dữ liệu đọc được

C:\Users\VNC\AppData\Local\Temp\ipykernel_3572\3027128579.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Khuyến mãi / Trả thưởng'].fillna(0, inplace=True)

        Mã đơn hàng  Mã sản phẩm Khuyến mãi / Trả thưởng
0      2401001832.0    500000760                       0
1      2401001832.0  500000071-G              Khuyến mại
2      2401001831.0  500000071-G              Khuyến mại
3      2401001831.0    500000760                       0
4      2401001830.0    500000590                       0
...             ...          ...                     ...
12902           nan          NaN                       0
12903           nan          NaN                       0
12904           nan          NaN                       0
12905           nan          NaN                       0
12906           nan          NaN                       0

[12907 rows x 3 columns]

In [47]:
# Lọc ra các hàng có 'Khuyến mãi / Trả thưởng' = 0
df_filtered = df[df['Khuyến mãi / Trả thưởng'] == 0]
df_filtered.dropna(inplace=True)
# In ra dữ liệu đã lọc
data = df_filtered.iloc[:, [0, 1]]
data

C:\Users\VNC\AppData\Local\Temp\ipykernel_3572\893225859.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.dropna(inplace=True)

       Mã đơn hàng Mã sản phẩm
0     2401001832.0   500000760
3     2401001831.0   500000760
4     2401001830.0   500000590
6     2401001830.0   500000760
7     2401001829.0   500000760
...            ...         ...
5762  2401000004.0   500000854
5764  2401000003.0   500000073
5765  2401000003.0   500000854
5766  2401000002.0   500000854
5770  2401000001.0   500000854

[4294 rows x 2 columns]

In [48]:
# Nhóm các mã sản phẩm theo mã đơn hàng và tổng hợp các mã sản phẩm
grouped = data.groupby('Mã đơn hàng')['Mã sản phẩm'].agg(list)

# In ra kết quả
grouped

Mã đơn hàng
2401000001.0               [500000854]
2401000002.0               [500000854]
2401000003.0    [500000073, 500000854]
2401000004.0               [500000854]
2401000005.0               [500000854]
                         ...
2401001828.0    [500000760, 500000590]
2401001829.0               [500000760]
2401001830.0    [500000590, 500000760]
2401001831.0               [500000760]
2401001832.0               [500000760]
Name: Mã sản phẩm, Length: 1819, dtype: object